/***********************************
	Common styles
***********************************/

.sunrise-plugin-onehalf {
	float: left;
	width: 46%;
	margin: 0 4% 1em 0;
}
.sunrise-plugin-onethird {
	float: left;
	width: 31%;
	margin: 0 2% 1em 0;
}
.sunrise-plugin-clear {
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
.sunrise-plugin-hidden { display: none }



/***********************************
	Nav tabs
***********************************/

#sunrise-plugin-tabs {}
#sunrise-plugin-tabs span { cursor: pointer }
#sunrise-plugin-tabs .nav-tab-active,
#sunrise-plugin-tabs span:hover { color: #464646 }



/***********************************
	Panes
***********************************/

.sunrise-plugin-pane {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 3px solid #f0f0f0;
}
.js .sunrise-plugin-pane {
	padding-bottom: 0;
	border: none;
}



/***********************************
	Fields
***********************************/

#sunrise-plugin-settings .form-table td,
#sunrise-plugin-settings .form-table th { padding-bottom: 20px }

#sunrise-plugin-settings .description {
	display: block;
	margin-top: 5px;
}

.sunrise-plugin-textarea {
	width: 80%;
	min-width: 25em;
	max-width: 50em;
}

.sunrise-plugin-code {
	width: 80%;
	min-width: 25em;
	max-width: 50em;
	padding: 4px;
	font-size: 13px;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	line-height: 21px !important;
	background: scroll url('../images/code.png');
}

.sunrise-plugin-select {
	width: 40%;
	min-width: 25em;
	max-width: 50em;
}

.sunrise-plugin-checkbox-group label {
	display: inline-block;
	margin: 0 0 5px 0;
}


/***********************************
	Color picker
***********************************/

.sunrise-plugin-color-picker {
	position: relative;
	width: 300px;
}
.sunrise-plugin-color-picker-preview {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	background: #fff;
	border: 1px solid #eee;
	z-index: 4;
}



/***********************************
	Notifications
***********************************/

#sunrise-plugin-settings .sunrise-plugin-notification {
	position: relative;
	margin: 20px 0;
}
#sunrise-plugin-settings .sunrise-plugin-notification small {
	float: right;
	display: none;
	color: #555;
}
.js #sunrise-plugin-settings .sunrise-plugin-notification:hover small { display: inline }



/***********************************
	Actions bar
***********************************/

.sunrise-plugin-actions-bar {
	margin-top: 20px;
	padding: 10px;
	background: #f5f5f5;
	border-top: 1px solid #eee;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.sunrise-plugin-spin,
.sunrise-plugin-success-tip {
	display: none;
	margin-left: 10px;
}
.sunrise-plugin-success-tip { color: #0b0 }
.sunrise-plugin-spin img,
.sunrise-plugin-success-tip img { margin: 0 5px -3px 0 }